.location-header {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location-header h1 {
  font-size: 32px;
  letter-spacing: -0.5px;
  margin: 0 0 4px;
}

.location-header p {
  font-size: 15px;
  margin-bottom: 28px;
}

.location-name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.location-name .headerBtn {
    margin-left: auto;
    text-decoration: none;
}

span {
    padding-bottom: 10px;
}

.tags-section h2 {
    margin: 0 0 4px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}